---
- name: Verify Location and Sleep
  hosts: all
  connection: local
  gather_facts: false
  tasks:
    - name: Check Public IP (Insecure Mode)
      command: curl -k -s https://api.ipify.org
      register: public_ip

    - name: Reveal True Location
      debug:
        msg: "I am running on public IP: {{ public_ip.stdout }}"
