---
- name: Get hostname of target hosts
  hosts: all
  gather_facts: false
  tasks:
    - name: Get hostname
      ansible.builtin.command: hostname
      register: hostname_result
      changed_when: false

    - name: Display hostname
      ansible.builtin.debug:
        msg: "Hostname: {{ hostname_result.stdout }}"
